<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django</title>
    {% load static %}

    <link rel="stylesheet" href="{% static './css/style.css' %}" />
</head>

<body>
    <!-- <div class="container">
        <h1> </h1>
    </div>  -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
<!-- 
<script>
    setInterval(
function () {
  var randomColor = Math.floor(Math.random()*16777215).toString(16);
  document.body.style.backgroundColor = "#"+randomColor;
},1000);
</script> -->
</html>